<form [formGroup]="formGroup">

	<h1 mat-dialog-title>Person Details</h1>

	<mat-dialog-content>
		<div class="fields">

			<mat-form-field>
				<input matInput formControlName="login" placeholder="Login">
			</mat-form-field>

		</div>
		<div class="fields">
			<mat-form-field>
				<input matInput formControlName="name" placeholder="Name">
			</mat-form-field>
		</div>

		<div class="fields">
			<mat-form-field>
				<mat-select placeholder="Linked Devices" formControlName="deviceIds" multiple>
					<mat-option *ngFor="let d of devices| orderByPipe" [value]="d.device.deviceId">{{d.device.description}} ({{d.device.deviceId}})</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
	</mat-dialog-content>

	<mat-dialog-actions>
		<button mat-raised-button color="primary" (click)="save()" [disabled]="!formGroup.valid">SAVE</button>
		<button mat-button (click)="discard()">CANCEL</button>
	</mat-dialog-actions>
</form>
