@import 'synapse';

[ng-cloak] {
  display: none;
}

.mat-content {
	margin: 15px;
}



.u-content-cont {
  padding-left: 152px;
  padding-right: 153px;
  background: #fff;
  overflow: hidden;
  -webkit-transition: transform .75s linear;
  transition: transform .75s linear;
  width: 80%;
  min-width: 1300px;
  min-height: calc(100vh - 7.8rem - 7.4rem);
  position: relative;
  top: 0;
  margin: 0 auto;
  margin-top: 55px;
  padding-top: 50px;
}
.u-page-frame {
  background-color: #fff;
  min-height: 700px;
}
.u-page-content-cont {
  position: relative;
  width: 1295px;
}
mat-sidenav-container.td-layout-manage-list > mat-sidenav {
  background-color: transparent !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.mat-drawer {
	min-width: 220px;
	background-color: transparent;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


