<mat-card class="mb">
<div [ngClass]="{'mb-opened': isOpened}" (click)="toggleOpen()">

  <div class="scroll-item" [ngClass]="{'X': isOpened}">
    <div class="ct">
      <div class="iG">
        <div class="Pe">
          <img height="24" width="24" src="{{sticker.icon}}"/>
        </div>
      </div>
      <div class="nE hY bg">{{sticker.author}}</div>
      <div class="rv">
        <div class="bg Cl" (click)="openService($event)">{{sticker.title}}</div>
        <div class="g6">{{sticker.description}}</div>
      </div>
    </div>


    <!--<div class="jS kl" *ngIf="sticker.type=='app/watcher'">
      <div role="list" class="fK">
        <div class="hU">
          <div class="nJ G0"></div>
          <div title="Passport_Catalog_R3_WireFrames_v1.pdf" class="nJ u2">
            <div class="ga oY">
              <div class="lT r6 tQ">Passport_Catalog_R3_WireFrames_v1</div>
              <div class="tx lT">
                <img src="//ssl.gstatic.com/docs/doclist/images/mediatype/icon_3_pdf_x16.png" class="i">
                  <span jstcache="2281" style="display:none"></span>
                  <span jstcache="2282" class="l0">PDF</span>
              </div>
            </div>
          </div>
          <div class="nJ s0">
            <div class="mp bO">
              <div class="x xC1zyd">
                <img alt="" src="//ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/smartmail/1x/il_smartmail_tl_r1.jpg" class="Lv xW">
                <div class="vT">
                  <img alt="" src="https://ci4.googleusercontent.com/proxy/WgsA9k_GpBGELqCC47RTTfPSSRObeUPPwT3i_9zpvHDfjxSLfDB-CWVlRm12uL8Ul6YRLEdN_KOOE1Gpiebqx65D52vuUg" class="xW">
                </div>
                <img alt="" src="//ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_playoverlay_1x.png" class="cx">
                <div jstcache="2208" style="display:none"></div>
              </div>
              <div class="am">
                <div class="tX h8" jsan="7.tX,7.h8,t-Q_wfWRFubLQ,t-afQ_4_Kg-ak"><span jstcache="2008" jsinstance="*0">Axosoft Best Practices Webinar</span></div><div jstcache="2210" class="aL dd" jsan="7.aL,7.dd,t-Q_wfWRFubLQ,t-afQ_4_Kg-ak"><span jstcache="2008" jsinstance="*0">58:23</span></div><div jstcache="2211" class="aL dd" jsan="7.aL,7.dd,t-Q_wfWRFubLQ,t-afQ_4_Kg-ak"><span jstcache="2008" jsinstance="*0">YouTube</span></div><div jstcache="2212" class="aI iq" style="color:rgb(42,86,198)" jsan="7.aI,5.color,t-b-r-0l3r4fw,7.iq,t-q0hZDQuXm-Q"><div jstcache="2217" jsinstance="*0" class="p8" jsan="t-yDJE9S2sDjM,7.p8,t-8hjhxw8NKjs"><span jstcache="2220" jsaction="jsl._" jsan="t-xTQhNqRzivo,22.jsaction,t-AIwn9LwJMXU"><a tabindex="0" target="_blank" jstcache="1839" href="https://youtu.be/WfY3zaH8bPU" class="bV dj" style="color:rgb(42,86,198)" jsan="7.bV,7.dj,8.href,5.color,0.tabindex,0.target"><span jstcache="1840" class="pC" jsan="7.pC">View on YouTube</span><span jstcache="1841" style="display:none"></span></a></span></div></div></div><span jstcache="2213" style="display:none"></span></div></div><div class="nJ JQ">

        </div>
        </div>
      </div>
      <div class="jP"><img alt="" src="//www.gstatic.com/images/icons/material/system/1x/keyboard_arrow_left_black_24dp.png" class="t8"></div>
      <div class="iL"><img alt="" src="//www.gstatic.com/images/icons/material/system/1x/keyboard_arrow_right_black_24dp.png" class="qE"></div>
    </div>-->
  </div>

</div>
</mat-card>
