.mb {
  padding: 5px 0px !important;
  margin: 0 20px;
  outline: none;
  position: relative;
}
.mb-opened {
  margin-left: -20px;
  margin-right: -20px;
}


.scroll-item {
  background: #fff;
  line-height: 20px;
  padding: 6px 0;
  position: relative;
  font-size: 13px;
}
.scroll-item:before {
  bottom: 0;
  /*box-shadow: 0 -1px 0 #e0e0e0, 0 0 2px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.24);*/
  content: '';
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.ct {
  margin: 6px 0;
  position: relative;
  display: -webkit-flex;
  display: flex;
}

.iG {
  height: 28px;
  margin: -4px 0;
  position: relative;
  width: 72px;
  align-items: center;
  -webkit-align-items: center;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

.kF, .nE {
  display: -webkit-flex;
  display: flex;
}
.hY, .bg, .g6 {
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
}
.hY {
  display: inline-block;
  width: 184px;
}

.rv {
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  flex: 1;
}
.Pe {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
  height: 24px;
  width: 24px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}

.oT {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-flex: 1;
  flex: 1;
}
.g6 {
  display: inline-block;
  -webkit-flex: 1;
  flex: 1;
  color: #757575;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  white-space: nowrap;
}
.bg~.g6::before {
  content: '\2013';
  margin: 0 .333em;
}
.Cl {
  cursor: pointer;
  color: #000 !important;
}

.X {
  margin-bottom: 50px;
  margin-top: 50px;
  position: relative;
}


.jS+.kl:not(.nN) {
  margin-top: 8px;
}
.jS {
  cursor: pointer;
  margin: 6px 0;
  position: relative;
  display: -webkit-flex;
  display: flex;
}
.kl {
  position: relative;
  -webkit-flex: 1;
  flex: 1;
}
.fK {
  margin: -6px 0;
  overflow: hidden;
  padding: 6px 0;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}
.hU {
  vertical-align: top;
  white-space: nowrap;
  -webkit-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: -webkit-transform .28s cubic-bezier(.4,0,.2,1);
  transition: transform .28s cubic-bezier(.4,0,.2,1);
}
.G0 {
  width: 245px;
}
.G0, .JQ {
  margin: 0;
}
.nJ {
  display: inline-block;
  margin-right: 8px;
  vertical-align: top;
}
.s0 {
  color: #212121;
  -webkit-flex: 1;
  flex: 1;
}
.u2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  -webkit-transition: background-color .15s cubic-bezier(.4,0,.2,1),box-shadow .15s cubic-bezier(.4,0,.2,1);
  transition: background-color .15s cubic-bezier(.4,0,.2,1),box-shadow .15s cubic-bezier(.4,0,.2,1);
}
.u2::after {
  border: 1px solid transparent;
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  margin: 1px;
  outline: 1px solid transparent;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: border-color .15s cubic-bezier(.4,0,.2,1);
  transition: border-color .15s cubic-bezier(.4,0,.2,1);
  -webkit-transition: outline-color .15s cubic-bezier(.4,0,.2,1);
  transition: outline-color .15s cubic-bezier(.4,0,.2,1);
}
.oY {
  box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 2px rgba(0,0,0,.22);
  box-sizing: border-box;
  height: 88px;
  padding: 12px;
  position: relative;
  top: 0;
  left: 0;
  width: 132px;
  z-index: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
}
.ga {
  background: rgba(0,0,0,.03);
  border-radius: 2px;
  height: 88px;
  position: relative;
  width: 132px;
  -webkit-transition: background-color .15s cubic-bezier(.4,0,.2,1),box-shadow .15s cubic-bezier(.4,0,.2,1);
  transition: background-color .15s cubic-bezier(.4,0,.2,1),box-shadow .15s cubic-bezier(.4,0,.2,1);
}
.tQ {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 20px;
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-break: break-word;
  word-wrap: normal;
}
.r6 {
  color: #212121;
  height: 3em;
}
.lT {
  overflow: hidden;
  text-overflow: ellipsis;
}
.tx {
  color: #757575;
  line-height: 16px;
  margin-top: 4px;
  white-space: nowrap;
}
.bO {
  background-color: rgba(0,0,0,.03);
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(0,0,0,.11), 0 1px 2px rgba(0,0,0,.22);
  box-sizing: border-box;
  color: #757575;
  height: 88px;
  width: 412px;
  display: -webkit-flex;
  display: flex;
  -webkit-transition: background-color .15s cubic-bezier(.4,0,.2,1),box-shadow .15s cubic-bezier(.4,0,.2,1);
  transition: background-color .15s cubic-bezier(.4,0,.2,1),box-shadow .15s cubic-bezier(.4,0,.2,1);
}
.mp {
  overflow: hidden;
  position: relative;
}




.jP {
  left: -16px;
}
.iL {
  right: -16px;
}
.jP, .iL {
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  cursor: pointer;
  /*visibility: hidden;*/
  height: 32px;
  margin-top: -16px;
  /*opacity: 0;*/
  outline: 1px solid transparent;
  position: absolute;
  top: 50%;
  width: 32px;
  z-index: 1;
  -webkit-transition: opacity .28s cubic-bezier(.4,0,1,1),visibility 0s .28s;
  transition: opacity .28s cubic-bezier(.4,0,1,1),visibility 0s .28s;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}
.t8, .qE {
  bottom: 0;
  height: 24px;
  left: 0;
  margin: auto;
  opacity: .25;
  position: absolute;
  right: 0;
  top: 0;
  width: 24px;
  -webkit-transition: opacity .28s cubic-bezier(.4,0,1,1);
  transition: opacity .28s cubic-bezier(.4,0,1,1);
}
