<div class="sticker-cont">
  <div class="sticker-header">
    <mat-icon>
      <img height="24" width="24" src="{{sticker.icon}}"/>
    </mat-icon>
    <div class="st-title"><h4 (click)="openService($event)">{{sticker.title}}</h4></div>
    <div class="st-descr"><span class="author">{{sticker.author}}</span> {{sticker.description}}</div>
    <div class="st-actions">
      <button mat-icon-button (click)="toggleContent()"><mat-icon>expand_more</mat-icon></button>
      <button mat-icon-button (click)="openDialog()"><mat-icon>delete</mat-icon></button>
      <button mat-icon-button><mat-icon>alarm_on</mat-icon></button>
    </div>
  </div>
  <div class="sticker-content" *ngIf="showContent" [ngClass]="{'expanded':showContent}">

    <!--   https://www.invisionapp.com/inside-design/7-examples-of-animations-made-in-invision-studio/    -->

    <div fxLayout="row wrap"
         fxLayout.lt-sm="column"
         fxLayoutGap="1px"
         fxLayoutAlign="flex-start"
         class="items-cont" *ngIf="details">
      <ng-container *ngFor="let item of details.items">
        <div class="item"
             fxFlex="0 1 calc(25% - 1px)"
             fxFlex.lt-md="0 1 calc(33.3% - 1px)"
             fxFlex.lt-sm="0 1 calc(50% - 1px)"
             fxLayout="row"
             fxLayoutAlign="start" matTooltip="{{item.description}}" [matTooltipShowDelay]="1000">

          <div fxFlex="35px">
            <mat-icon class="blue-icon" *ngIf="item.type=='sensor'">touch_app</mat-icon>
            <mat-icon class="blue-icon" *ngIf="item.type=='logic'">grain</mat-icon>
            <mat-icon class="blue-icon" *ngIf="item.type=='handler'">android</mat-icon>
          </div>
          <div class="sy-d-cont">
            <div class="st-value">{{item.value}}</div>
            <div class="st-update">{{item.lastUpdate|date:'MMMM d, yy, h:mm:ss'}}</div>
            <div class="st-title">{{item.description}}</div>
          </div>
          <!--<div class="st-control">
            <div *ngIf="item.type=='handler'">
              <button mat-button>ON</button>
              <button mat-button>OFF</button>
            </div>
          </div>-->
        </div>
      </ng-container>
    </div>

  </div>
</div>
