<button mat-button [matMenuTriggerFor]="animals"><mat-icon>apps</mat-icon></button>

<mat-menu #animals="matMenu">
  <button class="fav-item" mat-menu-item (click)="openService(sticker, $event)" *ngFor="let sticker of favorites">
    <mat-icon>
      <img height="24" width="24" src="{{sticker.icon}}" />
    </mat-icon>
    {{sticker.title}}
  </button>
</mat-menu>
