:host {
	.menu-icon {
		cursor: pointer;
	}
	.mat-list {
		padding-top: 25px;
	}
	.mat-list-item {

		height: 35px;

		mat-icon {
			width: 18px;
			height: 18px;
			font-size: 18px;
		}

		a {
			font-size: 14px;
			color: #555;
			text-decoration: none;
		}
	}

	.sitename {
		padding-left: 15px;
		font-weight: 300;
	}

	.example-spacer {
		flex: 1 1 auto;
	}

	.example-sidenav-content {
		display: flex;
		height: 100%;
		align-items: center;
		justify-content: center;
	}

	.example-sidenav {
		padding: 20px;
	}

	/*.example-container {
		position: absolute;
		top: 64px;
		bottom: 0;
		left: 0;
		right: 0;
	}

	mat-sidenav-container.td-layout-manage-list > mat-sidenav {
		background-color: transparent !important;
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}*/
}



