<a class="float-button">
		<button mat-fab type="button" (click)="addDevice()"><i class="material-icons">add</i></button>
</a>

<div class="ai-b8-Q">
	Persons
</div>
<mat-card class="card-services">
	<mat-table [dataSource]="dataSource">

		<ng-container matColumnDef="login">
		  <mat-header-cell *matHeaderCellDef>Login</mat-header-cell>
		  <mat-cell *matCellDef="let row" >
			  <mat-icon>person</mat-icon>
			<strong class="title" (click)="editRow(row, $event)">{{row.login}} {{row.active}}</strong>
		  </mat-cell>
		</ng-container>

		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
			<mat-cell *matCellDef="let row">
        		{{row.name}}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="lastupdate">
			<mat-header-cell *matHeaderCellDef>Reg Date</mat-header-cell>
			<mat-cell *matCellDef="let row">
        		{{row.regDate|date:'medium'}}
			</mat-cell>
		</ng-container>

    	<ng-container matColumnDef="actions">
			<mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<button mat-icon-button color="accent" (click)="editRow(row, $event)">
					<mat-icon>edit</mat-icon>
				</button>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
</mat-card>
