:host {

	.title {
		cursor: pointer;
	}

	sy-platform {
		margin-right: 9px;
	}

	.ai-b8-Q {
		padding-top: 10px;
		padding-bottom: 5px;
	}

	.mat-column-login {
		flex: 0 0 30% !important;
		white-space: unset !important;
		width: 30%;
	}
	.mat-column-lastupdate {
		flex: 0 0 170px !important;
		white-space: unset !important;
		width: 170px;
	}
	.mat-column-actions {
		flex: 0 0 70px !important;
		white-space: unset !important;
		width: 70px;
	}

	.float-button {
		position: fixed;
		right: 100px;
		bottom: 95px;
		z-index: 99;
	}

	app-health-status {
		margin-left: 7px;
		padding-top: 5px;
	}
}
