<mat-card>
	<mat-table [dataSource]="dataSource">

		<ng-container matColumnDef="icon">
			<mat-header-cell *matHeaderCellDef>Icon</mat-header-cell>
			<mat-cell *matCellDef="let def">
				<mat-icon>adb</mat-icon>
				<span [ngSwitch]="def.health" matTooltip="{{def.health}}" matTooltipPosition="right">
						<mat-icon *ngSwitchCase="0" class="health-0">error</mat-icon>
						<mat-icon *ngSwitchCase="0.2" class="health-1">looks_one</mat-icon>
						<mat-icon *ngSwitchCase="0.4" class="health-2">looks_two</mat-icon>
						<mat-icon *ngSwitchCase="0.6" class="health-3">looks_3</mat-icon>
						<mat-icon *ngSwitchCase="0.8" class="health-4">looks_4</mat-icon>
						<mat-icon *ngSwitchCase="1" class="health-5">looks_5</mat-icon>
						<mat-icon *ngSwitchDefault class="health-0">mood_bad</mat-icon>
					</span>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="description">
			<mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
			<mat-cell *matCellDef="let def">
				<h4>{{def.description}}</h4>
				<div class="subtitle">{{def.className}}</div>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="triggered">
			<mat-header-cell *matHeaderCellDef>Triggered</mat-header-cell>
			<mat-cell *matCellDef="let def">
				{{def.triggered| date:'medium'}}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="actions">
			<mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
			<mat-cell *matCellDef="let def">
					<span>
						<button mat-icon-button (click)="invokeCheck(def)">
							<mat-icon class="action-icon" matTooltip="RUN CHECK" matTooltipPosition="right">send</mat-icon>
						</button>
						<button mat-icon-button [disabled]="true" *ngIf="def.status=='RUNNED'">
							<mat-icon >autorenew</mat-icon>
						</button>
					</span>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
</mat-card>
