:host {

	.subtitle {
		font-size: 13px;
		color: #c7c7c7;
	}
	.mat-column-icon {
		flex: 0 0 100px !important;
		white-space: unset !important;
		width: 100px;
	}
	.mat-column-triggered {
		flex: 0 0 13% !important;
		white-space: unset !important;
		width: 13%;
	}
	.mat-column-actions {
		flex: 0 0 10% !important;
		white-space: unset !important;
		width: 10%;
	}
	.health-0 {
		color: red;
	}
	.health-1 {
		color: #ff3c00;
	}
	.health-2 {
		color: #ffc203;
	}
	.health-3 {
		color: #cbff00;
	}
	.health-4 {
		color: #4ff305;
	}
	.health-5 {
		color: #00a825;
	}
	.action-icon {
		color: #999;
	}
}
