<form [formGroup]="formGroup">

	<h1 mat-dialog-title>New Source</h1>

	<mat-dialog-content>
		<div class="fields">

			<mat-form-field>
				<input matInput formControlName="title" placeholder="Title">
			</mat-form-field>

		</div>
		<div class="fields">
			<mat-form-field>
                <textarea matInput formControlName="description" placeholder="Description"
						  matTextareaAutosize matAutosizeMinRows="6" matAutosizeMaxRows="9">
                </textarea>
			</mat-form-field>
		</div>
		<div class="fields">
			<mat-form-field>
				<input matInput formControlName="url" placeholder="URL">
			</mat-form-field>

		</div>
	</mat-dialog-content>

	<mat-dialog-actions>
		<button mat-raised-button color="primary" (click)="save()" [disabled]="!formGroup.valid">SAVE</button>
		<button mat-button (click)="discard()">CANCEL</button>
	</mat-dialog-actions>
</form>
