<mat-card>
  <h2>Say Text</h2>

  <div class="f-cont">
    <form>
      <mat-form-field class="text-full-width">
        <textarea name="saytext" matInput placeholder="Say text" [(ngModel)]="text"></textarea>
      </mat-form-field>

      <button mat-raised-button color="accent" (click)="clickSend()">Send</button>
    </form>
  </div>
</mat-card>


<mat-card id="log-list">
  <mat-list>
    <!--<mat-divider></mat-divider>-->
    <h2>Recent Messages</h2>
    <div mat-subheader>last 40 messages</div>
    <mat-list-item *ngFor="let log of logMessages">
      <mat-icon mat-list-icon>note</mat-icon>
      <h4 mat-line>{{log.message}}</h4>
      <p mat-line> {{log.regDate | date:'medium'}} </p>
    </mat-list-item>
  </mat-list>
</mat-card>
