:host {
  .sticker-cont {
    .sticker-header {
      flex-flow: row;
      display: flex;
      align-items: center;
      overflow: hidden;
      word-wrap: break-word;
      min-height: inherit;

      mat-icon {
        flex: 0 0 35px !important;
      }

      .st-title {
        flex: 0 0 27% !important;
        cursor: pointer;
      }

      .st-descr {
        flex: 1 1 auto;
      }

      .st-actions {
        color: #999;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 15px;
        visibility: hidden;

        button {
          margin-left: 1px;
        }
      }

      &:hover {
        .st-actions {
          visibility: visible;
        }
      }
    }
  }
}
