<form [formGroup]="formGroup">

  <h1 mat-dialog-title>Device Details</h1>

  <mat-dialog-content>
    <div class="fields">

      <mat-form-field>
        <input matInput formControlName="id" placeholder="Id">
      </mat-form-field>

    </div>
    <div class="fields">
      <mat-form-field>
        <textarea matInput formControlName="description" placeholder="Description"
                  matTextareaAutosize matAutosizeMinRows="6" matAutosizeMaxRows="9">
        </textarea>
      </mat-form-field>
    </div>
    <div class="fields">
      <mat-form-field>
        <input matInput formControlName="ipAddress" placeholder="IP Address">
      </mat-form-field>
    </div>
    <div class="fields">
      <mat-form-field>
        <input matInput formControlName="mac" placeholder="MAC Address">
      </mat-form-field>
    </div>
    <div class="fields">
      <mat-form-field>
        <mat-select formControlName="platform" placeholder="Platform">
          <mat-option *ngFor="let p of (availablePlatforms | async)" [value]="p.id">
            {{ p.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!formGroup.valid">SAVE</button>
    <button mat-button (click)="discard()">CANCEL</button>
  </mat-dialog-actions>
</form>
