:host {

  .card-services {
    padding: 10px 14px;
    margin-bottom: 1px;

    .sticker-header {
      flex-flow: row;
      display: flex;
    }
  }

	h4 {
		/*padding: 0 15px;*/
		cursor: pointer;
	}

	.author {
		color: #777;
	}

	.mat-column-icon {
		flex: 0 0 100px !important;
		white-space: unset !important;
		width: 100px;
	}
	.mat-column-title {
		flex: 0 0 25% !important;
		white-space: unset !important;
		width: 25%;
	}
	.mat-column-author {
		flex: 0 0 10% !important;
		white-space: unset !important;
		width: 10%;
	}
	/*.mat-column-description {
		flex: 0 0 60% !important;
		white-space: unset !important;
		width: 60%;
	}*/
	.mat-column-favorite {
		flex: 0 0 40px !important;
		white-space: unset !important;
		width: 40px;
	}

	.float-button {
		position: fixed;
		right: 100px;
		bottom: 95px;
		z-index: 99;
	}

	app-health-status {
		margin-left: 7px;
		padding-top: 5px;
	}
}
/*.ai-b8 {
  border-bottom: 1px solid transparent;
  color: #616161;
  line-height: 24px;
  margin: 20px 0 8px;
  padding: 0 24px;
  align-items: center;
  -webkit-align-items: center;
  display: -webkit-flex;
  display: flex;
}
.ai-b8-Q {
  margin-right: 48px;
  -webkit-flex: 1;
  flex: 1;
}
.du {
  cursor: pointer;
  opacity: 0.6;
  padding: 0;
}
.ew, .ew::before {
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}
.AK {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  box-sizing: content-box;
  position: relative;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-user-drag: none;
}*/
