<a class="float-button">
	<!--<button mat-fab (click)="addSticker()"><mat-icon>check</mat-icon></button>-->
	<!--<fab-speed-dial direction="up">-->
		<button type="button" mat-fab fab-toggle><i class="material-icons">add</i></button>

		<!--<button type="button" mat-fab fab-button [color]="'#fff'" (click)="click1()" matTooltip="Add Bookmark" [matTooltipPosition]="'left'"><i class="material-icons">bookmark</i></button>
		<button type="button" mat-fab fab-button [color]="'#fff'" (click)="click2()" matTooltip="Description 2" [matTooltipPosition]="'left'"><i class="material-icons">next_week</i></button>
		<button type="button" mat-fab fab-button [color]="'#fff'" (click)="click3()" matTooltip="Description 3" [matTooltipPosition]="'left'"><i class="material-icons">label_important</i></button>
-->	<!--</fab-speed-dial>-->
</a>


<!--<div class="ai-b8-Q">
	Favorites
</div>
<mat-card>

	<mat-table [dataSource]="favDataSource">

		<ng-container matColumnDef="icon">
			<mat-header-cell *matHeaderCellDef>Icon</mat-header-cell>
			<mat-cell *matCellDef="let sticker">
				<mat-icon>
					<img height="24" width="24" src="{{sticker.icon}}" />
				</mat-icon>
				<app-health-status [healthInfo]="sticker.healthInfo"></app-health-status>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="title">
			<mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
			<mat-cell *matCellDef="let sticker">
				<h4 (click)="openService(sticker, $event)">{{sticker.title}}</h4>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="description">
			<mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
			<mat-cell *matCellDef="let sticker">
				 {{sticker.description}}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="author">
			<mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
			<mat-cell *matCellDef="let sticker">
				<span class="author">{{sticker.author}}</span>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="favorite">
			<mat-header-cell *matHeaderCellDef> Fav </mat-header-cell>
			<mat-cell *matCellDef="let sticker">
				<button mat-icon-button (click)="removeFromFav(sticker)">
					<mat-icon>favorite</mat-icon>
				</button>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
</mat-card>-->

<!--<mat-card>
	<mat-grid-list cols="3">
		<mat-grid-tile [style.border-right]="'1px dashed #ddd'">
			John
		</mat-grid-tile>
		<mat-grid-tile [style.border-right]="'1px dashed #ddd'">
			Paul
		</mat-grid-tile>
		<mat-grid-tile>
			Ringo
		</mat-grid-tile>
	</mat-grid-list>
</mat-card>-->

<div class="ai-b8-Q">
	Services
</div>
<mat-card class="card-services" *ngFor="let sticker of stickers" [ngSwitch]="sticker.name">

	<sy-sticker-app-things *ngSwitchCase="'sy.thingsgateway'" [sticker]="sticker"></sy-sticker-app-things>
	<sy-sticker-app-mumen *ngSwitchCase="'sy.muman'" [sticker]="sticker"></sy-sticker-app-mumen>

  <sy-sticker-bookmark *ngSwitchDefault [sticker]="sticker"></sy-sticker-bookmark>


	<!--<mat-list>
		<mat-list-item>
			<mat-icon>
				<img height="24" width="24" src="{{sticker.icon}}"/>
			</mat-icon>
			<h4 (click)="openService(sticker, $event)">{{sticker.title}}</h4>
			<div><span class="author">{{sticker.author}}</span> {{sticker.description}}</div>
		</mat-list-item>
	</mat-list>-->

	<!--<mat-table [dataSource]="dataSource">

		<ng-container matColumnDef="icon">
			<mat-header-cell *matHeaderCellDef>Icon</mat-header-cell>
			<mat-cell *matCellDef="let sticker">
				<mat-icon>
					<img height="24" width="24" src="{{sticker.icon}}" />
				</mat-icon>
				<app-health-status [healthInfo]="sticker.healthInfo"></app-health-status>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="title">
			<mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
			<mat-cell *matCellDef="let sticker">
				<h4 (click)="openService(sticker, $event)">{{sticker.title}}</h4>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="description">
			<mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
			<mat-cell *matCellDef="let sticker">
				{{sticker.description}}
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="author">
			<mat-header-cell *matHeaderCellDef>Author</mat-header-cell>
			<mat-cell *matCellDef="let sticker">
				<span class="author">{{sticker.author}}</span>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="favorite">
			<mat-header-cell *matHeaderCellDef> Fav </mat-header-cell>
			<mat-cell *matCellDef="let sticker">
				<button *ngIf="!sticker.favorite" mat-icon-button color="accent" (click)="addToFav(sticker)">
					<mat-icon>favorite</mat-icon>
				</button>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>-->
</mat-card>

<mat-paginator [length]="pageTotal"
			   [pageSize]="pageSize"
			   [pageSizeOptions]="[5, 10, 20]"
			   (page)="changeAllStickersPage($event)">
</mat-paginator>



<!--<mat-card>
  <mat-card-title>Products Sales</mat-card-title>
  <mat-card-subtitle>usage stats for our products</mat-card-subtitle>
  <mat-divider></mat-divider>
  <mat-card-content>
    card content
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <a mat-button color="accent" class="text-upper">
      <span>View More</span>
    </a>
  </mat-card-actions>
</mat-card>-->

<!--<mat-card>
	<mat-grid-list cols="3">
		<mat-grid-tile>
			1
		</mat-grid-tile>
		<mat-grid-tile>
			2
		</mat-grid-tile>
		<mat-grid-tile>
			3
		</mat-grid-tile>
	</mat-grid-list>
</mat-card>-->
<!--
<div class="c-canvas-tiles">

  <div class="ai-b8">
    <div class="ai-b8-Q">
      Favorites
    </div>
        <button class="du ew AK">
		  <img height="24" width="24" src="http://whats-app-plus.com/wp-content/uploads/2015/07/WhatsApp-Plus-v1.97.apk_.png"/>
		</button>
  </div>

  <app-morph-block *ngFor="let d of favorites" [sticker]="d"></app-morph-block>

  <div class="ai-b8">
    <div class="ai-b8-Q">
      Services
    </div>
    <button class="du ew AK">
      <img height="24" width="24" src="http://whats-app-plus.com/wp-content/uploads/2015/07/WhatsApp-Plus-v1.97.apk_.png"/>
    </button>
  </div>

  <app-morph-block *ngFor="let d of stickers" [sticker]="d"></app-morph-block>


</div>-->
