<div>
	<div *ngIf="!healthInfo">
		<mat-icon class="not-support-icon" matTooltip="NOT SUPPORTED" matTooltipPosition="right">block</mat-icon>
	</div>
	<div *ngIf="healthInfo" [ngSwitch]="healthInfo?.status">
		<mat-icon *ngSwitchCase="'UP'" class="ok-icon" matTooltip="WORKING" matTooltipPosition="right">sentiment_very_satisfied</mat-icon>
		<mat-icon *ngSwitchCase="'NOT_FOUND'" class="warn-icon" matTooltip="UNCERTAIN" matTooltipPosition="right">sentiment_dissatisfied</mat-icon>
		<mat-icon *ngSwitchCase="'FAILED'" class="error-icon" matTooltip="UNCERTAIN" matTooltipPosition="right">mood_bad</mat-icon>
		<mat-icon *ngSwitchDefault class="error-icon" matTooltip="DOWN" matTooltipPosition="right">mood_bad</mat-icon>
	</div>
</div>
