<div class="sticker-cont">
  Dialog

  <div class="item-cont" *ngFor="let item of data.items">
    <mat-icon *ngIf="item.type=='sensor'">touch_app</mat-icon>
    <mat-icon *ngIf="item.type=='logic'">grain</mat-icon>
    <mat-icon *ngIf="item.type=='handler'">android</mat-icon>
    {{item.description}}, {{item.value}}
  </div>

  https://netbasal.com/implementing-dynamic-views-in-angular-20ae7c62fec3
  https://medium.com/@asm/animated-slide-panel-with-angular-e985ad646f9
</div>
