:host {
  .sticker-cont {
    .sticker-header {
      flex-flow: row;
      display: flex;
      align-items: center;
      overflow: hidden;
      word-wrap: break-word;
      min-height: inherit;

      mat-icon {
        flex: 0 0 35px !important;
      }

      .st-title {
        flex: 0 0 27% !important;
        cursor: pointer;
      }

      .st-descr {
        flex: 1 1 auto;
      }

      .st-actions {
        color: #999;
        position: absolute;
        right: 0;
        top: 0;
        margin-right: 15px;
        visibility: hidden;

        button {
          margin-left: 1px;
        }
      }

      &:hover {
        .st-actions {
          visibility: visible;
        }
      }
    }

    .sticker-content {
      flex-flow: row;
      display: flex;
      align-items: flex-start;
      padding: 17px;
      margin-left: -14px;
      margin-top: 6px;
      margin-bottom: -10px;
      margin-right: -14px;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;
      background-color: #ddf0ff;
      min-height: 300px;

      /*transition: transform 0.3s ease-out;
      transform: scaleY(1);*/
      /*transition: height 0.3s ease-out;*/
      /*transition: opacity 2s linear;
      transform:translate(0);
      opacity: 1;*/

      .items-cont {
        margin-left: 15%;
        max-height: 290px;
        overflow-y: auto;
        width: 100%;
        background-color: #c9e1f5;

        .item {
          background-color: #ddf0ff;
          min-height: 36px;
          /*margin-bottom: 2px;*/
          padding: 12px;
          border-bottom: 1px solid #c9e1f5;

          &:hover {
            background-color: #f2ffff;
          }

          .blue-icon {
            color: #0074d4;
          }
          /*mat-icon {
            flex: 0 0 35px !important;
          }*/
          .st-title {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 195px;
          }
          .st-value {
            font-size: 21px;
          }
          .st-update {
            color: #999;
            font-size: 12px;
          }
          /*.st-control {
            flex: 0 0 18% !important;
          }*/
        }
      }
    }

    .expanded {
      /*transform: scaleY(0);*/
      /*transform:translate(9999px);
      opacity: 0;
      min-height: 300px;*/
    }
  }
}
