<div class="sticker-cont">
  <div class="sticker-header">
    <mat-icon>
      <img height="24" width="24" src="{{sticker.icon}}"/>
    </mat-icon>
    <div class="st-title"><h4 (click)="openService($event)">{{sticker.title}}</h4></div>
    <div class="st-descr"><span class="author">{{sticker.author}}</span> {{sticker.description}}</div>
    <div class="st-actions">
      <button mat-icon-button (click)="toggleContent()"><mat-icon>expand_more</mat-icon></button>
      <button mat-icon-button (click)="openDialog()"><mat-icon>delete</mat-icon></button>
      <button mat-icon-button><mat-icon>alarm_on</mat-icon></button>
    </div>
  </div>
  <div class="sticker-content" *ngIf="showContent" [ngClass]="{'expanded':showContent}">

    Movies


  </div>
</div>
